In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("HousingData.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [4]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [5]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [6]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [7]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [9]:
df["CRIM"].replace(np.NaN, df["CRIM"].mean(), inplace = True)
df["ZN"].replace(np.NaN, df["ZN"].mean(), inplace = True)
df["INDUS"].replace(np.NaN, df["INDUS"].mean(), inplace = True)
df["AGE"].replace(np.NaN, df["AGE"].mean(), inplace = True)
df["LSTAT"].replace(np.NaN, df["LSTAT"].mean(), inplace = True)
df["CHAS"].replace(np.NaN, df["CHAS"].mean(), inplace = True)

In [10]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [11]:
X = df.drop(["MEDV"], axis = 1)
Y = df["MEDV"]

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
print(y_pred)

[ 2.91432496e+01  3.65356675e+01  1.44925129e+01  2.50811104e+01
  1.84560923e+01  2.30104937e+01  1.81386861e+01  1.46265167e+01
  2.21158938e+01  2.08706364e+01  2.50758640e+01  1.87470982e+01
 -5.67498472e+00  2.17286655e+01  1.90464014e+01  2.54293420e+01
  1.96620047e+01  6.12420178e+00  4.09972355e+01  1.72352716e+01
  2.48905259e+01  3.02961849e+01  1.18008779e+01  2.29655895e+01
  1.73451595e+01  1.51051621e+01  2.10901065e+01  1.44883316e+01
  2.30923960e+01  1.94365043e+01  2.25439953e+01  2.52375663e+01
  2.59309510e+01  1.66289054e+01  1.64513986e+01  1.66143478e+01
  3.11105960e+01  2.02837991e+01  2.43569451e+01  2.26326769e+01
  1.45257750e+01  3.23698301e+01  4.30428488e+01  1.76390763e+01
  2.76326197e+01  1.64305143e+01  1.42484248e+01  2.61635938e+01
  1.97678160e+01  3.01463483e+01  2.09688785e+01  3.38338873e+01
  1.64161397e+01  2.63964842e+01  3.97974153e+01  2.20563187e+01
  1.86348862e+01  3.28326904e+01  2.54125467e+01  1.30089663e+01
  2.27876091e+01  3.07563535e+01  3.14152535e+01  1.63140433e+01
  2.03393413e+01  1.71517970e+01  2.01806664e+01  2.61876399e+01
  3.09535452e+01  1.13750175e+01  2.09535826e+01  2.65775894e+01
  1.10320126e+01  1.28353764e+01  2.37619366e+01  6.45053524e+00
  2.16940761e+01  4.17751699e+01  1.87002180e+01  8.80916013e+00
  2.09823382e+01  1.32224442e+01  2.09744123e+01  9.19727517e+00
  2.29748473e+01  3.23665383e+01  1.90112841e+01  2.56021909e+01
  2.86884146e+01  1.97639493e+01  2.59912517e+01  5.78236486e+00
  1.94886094e+01  1.52277879e+01  1.07368355e+01  2.00495289e+01
  2.37375593e+01  2.87336882e-02  1.35379379e+01  1.60971385e+01
  2.27958041e+01  2.43808232e+01]

In [14]:
from sklearn.metrics import r2_score, mean_squared_error

In [16]:
print(r2_score(y_test, y_pred))

0.6588520195508154

In [17]:
print(mean_squared_error(y_test, y_pred))

25.017672023842596

In [18]:
rmse = (mean_squared_error(y_test, y_pred)) **0.5
print(rmse)

5.001766890194164

In [ ]:
plt.scatter()